{% extends 'base.html' %}
{% load static %}
  {% block title %} GALERIA {% endblock %}
    {% load i18n %}
      {% block dashboard_content %}
        <div class="content-holder">
            <div class="first_layer">
                
                <select class="select-style red">
                <option value="2018"><strong>{%trans "2018" %}</strong></option>
                <option value="2017"><strong>{%trans "2018" %}</strong></option>
                <option value="2016"><strong>{%trans "2016" %}</strong></option>
                <option value="2015"><strong>{%trans "2015" %}</strong></option>
                </select>
                <div class="right">
                      <label><strong>{%trans "Ano" %}</strong></label>
                      <select class="select-style">
                          <option value="2018"><strong>{%trans "2018" %}</strong></option>
                          <option value="2017"><strong>{%trans "2018" %}</strong></option>
                          <option value="2016"><strong>{%trans "2016" %}</strong></option>
                          <option value="2015"><strong>{%trans "2015" %}</strong></option>
                      </select>
                      <label><strong>{%trans "De" %}</strong></label>
                      <select class="select-style">
                          <option value="2018"><strong>{%trans "Enero" %}</strong></option>
                      </select>
                      <label><strong>{%trans "a" %}</strong></label>
                      <select class="select-style">
                          <option value="2018"><strong>{%trans "Marzo" %}</strong></option>
                      </select>
                      <button type="button" class="btn btn-default">
                            <span><img src="{% static 'img/magnifier.png' %}"></span>
                      </button>
                  </div> <!-- right -->
                  
                  <div class="clear_both"></div>
                </div>
             <div class="clear_both"></div>
             <div class="galeria">
              <div class="popup-gallery">
                <div class="gallery">
                  <a href="{% static 'img/zoom_1.png' %}" title="Lorem ipsum dolor sit amet, dolore">
                  <img src="{% static 'img/img_1.png' %}">
                  </a>
                  <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br><span class="red">{%trans "12/4/2018" %}</span></p>
                  </div>
                </div>
                <div class="gallery">
                  <a href="{% static 'img/zoom_1.png' %}" title="Ipsum dolor sit amet">
                  <img src="{% static 'img/img_2.png' %}">
                  </a>
                  <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br><span class="red">{%trans "12/4/2018" %}</span></p>
                  </div>
                </div>
                <div class="gallery">
                  <a href="{% static 'img/zoom_1.png' %}" title="Dolor sit amet, dolore">
                  <img src="{% static 'img/img_3.png' %}">
                  </a>
                  <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br><span class="red">{%trans "12/4/2018" %}</span></p>
                  </div>
                </div>
                <div class="gallery">
                  <a href="{% static 'img/zoom_1.png' %}" title="Lorem ipsum dolor sit">
                  <img src="{% static 'img/img_4.png' %}">
                  </a>
                  <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br><span class="red">{%trans "12/4/2018" %}</span></p>
                  </div>
                </div>
                <div class="gallery">
                  <a href="{% static 'img/zoom_1.png' %}" title="Ipsum dolor sit amet">
                  <img src="{% static 'img/img_5.png' %}">
                  </a>
                  <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br><span class="red">{%trans "12/4/2018" %}</span></p>
                  </div>
                </div>
                <div class="gallery">
                  <a href="{% static 'img/zoom_1.png' %}" title="Lorem dolor sit dolore">
                  <img src="{% static 'img/img_6.png' %}">
                  </a>
                  <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br><span class="red">{%trans "12/4/2018" %}</span></p>
                  </div>
                </div>


                <!-- <a href="../static/img/zoom_1.png" title="The Uninvited Guest">
                  <img src="../static/img/img_2.png" width="400" height="400">
                </a>
                <a href="../static/img/zoom_1.png" title="Oh no, not again!">
                  <img src="../static/img/img_3.png" width="400" height="400">
                </a>
                <a href="../static/img/zoom_1.png" title="Swan Lake">
                  <img src="../static/img/img_4.png" width="400" height="400">
                </a>
                <a href="../static/img/zoom_1.png" title="The Shake">
                  <img src="../static/img/img_5.png" width="400" height="400">
                </a>
                <a href="../static/img/zoom_1.png" title="Who's that, mommy?">
                  <img src="../static/img/img_6.png" width="400" height="400">
                </a> -->
              </div>
            </div>

            <!-- <div class="galeria">
                <div class="gallery">
                    <a target="_blank" href="../static/img/img_1.png">
                    <img src="../static/img/img_1.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                    </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_2.png">
                    <img src="../static/img/img_2.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                      </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_3.png">
                    <img src="../static/img/img_3.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                      </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_4.png">
                    <img src="../static/img/img_4.png" alt="post_one">
                    </a>
                   <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                   </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_5.png">
                    <img src="../static/img/img_5.png" alt="post_one">
                    </a>
                   <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                   </div>
                </div>
                 <div class="gallery">
                    <a target="_blank" href="../static/img/img_6.png">
                    <img src="../static/img/img_6.png" alt="post_one">
                    </a>
                    <div class="desc">
                         <p>{%trans "Lorem ipsum dolor sit amet, dolore" %}<br>{%trans "12/4/2018" %}</p>
                   </div>
                </div>
            </div> <!-- galeria --> 
            <div class="clear_both"></div>
        </div> <!-- content-holder -->

    {% endblock %} 