{% extends 'base.html' %}
{% load static %}
  {% block title %} GYMPASS {% endblock %}
    {% load i18n %}
      {% block dashboard_content %}
        <div class="content-holder">
        
            <div>                
                <div class="half_55">
                    <h2>{%trans "GYM PASS" %}</h2>
                    <p>{%trans "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum." %}</p>
                    <div>
                        <a href="#">>Incripcion</a>
                    </div>                    
                </div>
                <div class="half_45 text-center">
                    <img src="{% static 'img/barrier.png' %}">                    
                </div>
                <div class="clear_both"></div>                
                
            </div>
        </div> <!-- content holder -->
   {% endblock %} 