       <div class="bgimage">
            <!-- <img src="../static/img/bg_image.png"> -->
            <div class="content-holder">
                 <div class="log_header">
                                <img src="../static/img/main_logo.png">
                                <div class="nav_bar_right">
                                    <ul >
                                        <li><a href="#">ES</a></li>
                                        <li><a href="#">EN</a></li>
                                        <li class=""><a href="#">PT</a></li>
                                    </ul>
                                    <a class="nav_bar_right">Registrase</a>
                                </div>                    
                    </div>  
                </div>
